@charset "UTF-8";

.form-inline .form-control {
	margin-right: 5px;
}
.form-inline .input-short {
	float: left;
	width: 160px;
}
.form-inline .input-long {
	float: left;
	width: 453px;
}
.form-inline .input-short-o {
	float: left;
    width: 130px;
    margin: 0;
}
.form-inline .textarea-long {
	float: left;
	width: 453px;
}
.form-inline .select-short {
	float: left;
	width: 160px;
}

/* 条件搜索 */
.search-form {
	position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 1px;
    border-radius: 0;
    background-color: #fff;
}
.form-item {
    position: relative;
    display: inline-block;
    min-width: 290px;
    margin: 5px 0;
    padding-right: 15px;
    vertical-align: middle;
}
.form-item label {
    float: left;
    line-height: 24px;
    color: #555;
    width: 95px;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    padding: 5px;
    margin: 0;
}
.form-item span {
	display: inline-block;
    line-height: 34px;
    color: #666;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
}
.search-form button i {
	margin-right: 5px;
}
.form-item span.required {
	color: #f00;
	font-weight: bold;
}
/*.input-group-addon {
	float: left;
	width: 30px;
    height: 34px;
    padding: 0;
    border-left: none;
    margin-right: 5px;
}*/
.input-group-addon i {
	line-height: 34px;
	text-align: center;
}

/* 表格信息 */
.table-bar {
	padding: 15px;
}
.table-bar button {
	margin-right: 5px;
}
.table-responsive a {
	color: #428bca;
}

/* 按钮样式 */
.btn-box {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 0 5px 105px;
    background-color: #fff;
}
.btn-box button {
	margin-right: 5px;
}
.btn-box button i {
	margin-right: 5px;
}


/* 河流管理 */
.basin_map {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 480px;
	height: 320px;
	border: 1px solid #cfdadd;
	background: #eee;
	z-index: 100;
}


/*  树形菜单 */
.tree-panel {
	width: 100%;
    background: #f0f6e4;
    min-height: 560px;
    border: 1px solid #ddd;
}
ul.ztree {
    background: #f0f6e4;
    overflow: auto;
}
.ztree li ul {
	height: auto;
}


/* 数据导入 */
.import_explain {
	width: 100%;
}
.import_explain p {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.file-input {
	width: 456px;
    float: left;
}

.file-input span {
	line-height: 20px;
    margin: 0;
}
.file-input .btn-primary span {
	color: #fff;
}

/* PDF导入 */
.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }


/* 标签页 */
.tabs-list {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
    margin-bottom: 0;
    list-style: none;
}
.tabs-list li {
	position: relative;
    display: block;
    float: left;
    padding: 8px 24px;
    margin-bottom: -1px;
    margin-right: 5px;
    background-color: #ddd;
}
.tabs-list li.select {
	background-color: #428bca;
}
.tabs-list li.select a {
	color: #fff;
}
.tab-content {
	margin-top: 36px;
}
.tab-con {
	display: none;
	padding: 10px;
}